:root{
    $primary-color: #111111
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.btn-standard{
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
}