header{
    background-image: url("@/assets/images/home-background-hero-scaled.jpg"); // JUMBO IMAGE
    background-position: center;
    background-size: cover;
    height: 1000px;
    position: relative;
    .container{
        max-width: 1200px;
        margin: 0 auto;
        nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 60px;
            height: 100px;
            img{
                height: 100%;
            }
            ul{
                display: flex;
                list-style-type: none;
                li{
                    color: white;
                    margin: 0 15px;
                }
                li:first-of-type{
                    color: goldenrod;
                    
                }
            }
            
        }
        .jumbo{
            color: white;
            .jumbo-text{
                margin-top: 250px;
                font-size: 30px;
                .jumbo-colored{
                    color: goldenrod;
                }
            }

            .info-card{
                background-color: white;
                height: 100px;
                color: black;
                font-size: 14px;
                position: absolute;
                bottom: -50px;
                left: 50%;
                transform: translateX(-50%);
                ul{
                    display: flex;
                    justify-content: space-between;
                    list-style-type: none;
                    li{
                        margin: 0 20px;
                        .info-icon{
                            margin-right: 5px;
                        } 
                    }
                }

            }
            
        }
    }
    
}