.pop-dishes{
    margin: 80px auto;
    text-align: center;
    h2{
        text-align: center;
    }
    ul{
        margin: 40px auto;
        display: flex;
        list-style-type: none;
        max-width: 1200px;
        li{
            width: calc(100% / 3);
            padding: 20px;
            img{
                width: 100%;
            }
            h4{
                color: red;
            }
        }

    }
}
.menu-cat{
    margin-bottom: 100px;
    .container{
        max-width: 1200px;
        margin: 0 auto;
        .title-section{
            display: flex;
            justify-content: space-between;
            padding: 10px;
        }
        ul{
            display: flex;
            flex-wrap: wrap;
            list-style-type: none;
            margin-top: 40px;
            li{
                width: calc(100%/ 4);
                padding: 10px;
                position: relative;
                text-align: center;
                .green{
                    color: green;
                }
                .gold{
                    color: goldenrod;
                }
                .blue{
                    color: #42a3ef;
                }
                .brown{
                    color: #6b4328;
                }
                .icon{
                    font-size: 35px;
                }
                img{
                    width: 100%;
                }
                h5{
                    position: absolute;
                    z-index: 999;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: white;
                }
            }
        }
    }
}

.order-app{
    background-image: url('@/assets/images/app-ordering-scaled.jpg');
    background-position: center;
    background-size: cover;
    height: 600px;
    .container{
        max-width: 1200px;
        margin: 0 auto;
        .app-text{
            padding-top: 200px;
            h3{
                color: white;
                font-size: 25px;
            }
            h2{
                color: gold;
                font-size: 70px;
            }
        }
        .mobile-store{
            display: flex;
            margin-top: 50px;
            img{
                width: 75%;
            }
        }
    }
}

.late-news{
    padding: 100px;
    .container{
        max-width: 1200px;
        margin: 0 auto;
        .title-section{
            padding: 20px;
        }
        ul{
            display: flex;
            list-style-type: none;
            li{
                width: 50%;
                padding: 20px;
                text-align: center;
                img{
                    width: 100%;
                    margin-bottom: 40px;
                }
                h2{
                    margin-bottom: 20px;
                }
            }
        }
    }
}