.pop-dishes{
    margin: 80px auto;
    text-align: center;
    h2{
        text-align: center;
    }
    ul{
        margin: 40px auto;
        display: flex;
        list-style-type: none;
        max-width: 1200px;
        li{
            width: calc(100% / 3);
            padding: 20px;
            .layer-container{
                position: relative;
                img{
                    width: 100%;
                }
                .layer{
                    position: absolute;
                    width: 100px;
                    height: 100px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: rgba($color: #000000, $alpha: 0.8);
                    border-radius: 50%;
                    padding-top: 15px;
                    display: none;
                    i{
                        font-size: 40px;
                        color: white;
                        border-radius: 50%;
                    }
                    p{
                        font-size: 16px;
                        color: white;
                    }
                }
            }
            .layer-container:hover .layer{
                display: block;
                cursor: pointer;
            }
            h3{
                font-weight: lighter;
                margin: 15px;
            }
            h4{
                color: #b0202a;
                font-size: 16px;
                font-weight:100;
            }
        }

    }
    .discount-background{
        background-image: url('@/assets/images/first-order-background-scaled.jpg');
        background-position: center;
        background-size: cover;
        height: 650px;
        position: relative;
        .op-30{
            position: absolute;
            left: -100px;
            top: 40px;
            filter: opacity(0.30);
            color: #b0202a;
        }
        .op-25{
            position: absolute;
            left: -40px;
            top: 70px;
            filter: opacity(0.25);
        }
        .op-20{
            position: absolute;
            left: -100px;
            top: 100px;
            filter: opacity(0.20);
        }
    }
}
.menu-cat{
    margin-bottom: 100px;
    .container{
        max-width: 1200px;
        margin: 0 auto;
        .title-section{
            display: flex;
            justify-content: space-between;
            padding: 10px;
        }
        ul{
            display: flex;
            flex-wrap: wrap;
            list-style-type: none;
            margin-top: 40px;
            li{
                width: calc(100%/ 4);
                padding: 10px;
                position: relative;
                text-align: center;
                .green{
                    color: green;
                }
                .gold{
                    color: gold;
                }
                .blue{
                    color: #42a3ef;
                }
                .brown{
                    color: #6b4328;
                }
                .icon{
                    font-size: 35px;
                }
                .layer-container{
                    position: relative;
                    .layer{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 99%;
                        background-color: rgba($color: #000000, $alpha: 0.4);
                    }
                    img{
                        width: 100%;
                    }
                }
                
                h5{
                    position: absolute;
                    z-index: 999;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: white;
                    text-transform: uppercase;
                }
            }
        }
    }
}

.order-app{
    background-image: url('@/assets/images/app-ordering-scaled.jpg');
    background-position: center;
    background-size: cover;
    height: 600px;
    .container{
        max-width: 1200px;
        margin: 0 auto;
        .app-text{
            padding-top: 200px;
            h3{
                color: white;
                font-size: 25px;
            }
            h2{
                color: gold;
                font-size: 70px;
            }
        }
        .mobile-store{
            display: flex;
            margin-top: 50px;
            img{
                width: 75%;
            }
        }
    }
}

.late-news{
    padding: 100px;
    .container{
        max-width: 1200px;
        margin: 0 auto;
        .title-section{
            padding: 20px;
            display: flex;
            justify-content: space-between;
        }
        ul{
            display: flex;
            list-style-type: none;
            li{
                width: 50%;
                padding: 20px;
                text-align: center;
                img{
                    width: 100%;
                    margin-bottom: 40px;
                }
                img:hover{
                    filter: contrast(0.6);
                }
                h2{
                    margin-bottom: 20px;
                }
                p{
                    font-weight: 100;
                    line-height: 25px;
                }
            }
        }
    }
}